  .topBar {
    display: flex;
    padding: 8px;
    background-color: rgb(0, 158, 111);
    height: 80px;
  }
  .left {
    display: flex;
  }
  .right {
    display: flex;
    margin-left: auto;
    margin-right: 5%;
  }  
  a {
    padding: 24px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
  }
  a:hover {
    background-color: rgb(4, 105, 0);
    border-radius: 25%;
  }