mat-sidenav-container {
  height: calc(205vh - 115vh);
}

mat-sidenav {
  width: 270px;
  background-color: rgb(97, 97, 97);
  text-align: center;
  padding: 15px;
  position: fixed;
  border-left: none;
  height: calc(260vh);
}

button{
  display: block;
  text-align: center;
  border: none;
  margin: 8px auto 8px auto;
}

button:hover{
  border: 1px solid white;
  border-left: none;
  border-right: none;
  border-radius: 10%;
  cursor: pointer;
}