<!-- <app-createPostpage></app-createPostpage> -->

<!-- looper igennem alle post fra data(DataService) -->
<!-- <div
  id="post"
  *ngFor="let post of posts"
  [routerLink]="['/post-details', post.postId]"
>
  <h5 id="username">
    <img
      class="profilepic"
      src="./assets/images/placeholder.png"
      width="50"
      height="50"
    />
    {{ post.user?.userName }}
  </h5>
  <h1 id="title">{{ post.title }}</h1>
  <h3 id="description">{{ post.desc }}</h3> -->

<!-- <p id="tags" *ngFor="let tag of tags">#{{tag.tag}}, </p> -->

<!-- <p id="tags" *ngIf="post.tags">#{{ post.tags }},</p>
  <p id="date">{{ post.date | date : "MMM d yyyy, HH:mm a" }}</p>
  <button class="postBtn" id="like"><3</button>
</div> -->

<div>
  <p>Hej lenny</p>
</div>
