#post{
  position: relative;
  width: auto;
  max-width: 35%;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 10px;
  border-left: none;
  border-right: none;
  margin: auto;
  margin-top: 50px; 
  margin-bottom: 60px;
  padding: 25px;
}

#post:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px rgb(80, 80, 100);
}

#user{
  display: inline-block;
  position: absolute;
}

#profilepic{
  display: block;
  border-radius: 30px;
}

#profilepic:hover{
  box-shadow: 0px 0px 10px 10px rgb(100, 80, 80);
}

#userName{
  display: block;
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 0px;
}



#content{
  display: inline-block;
  margin-left: 25%;
}

#title{
  color: white;
}

#description{
  font-size: 14px;
  color: rgb(20, 20, 20);
}

#postTags {
  display: flex;
  flex-wrap: wrap;
}

#tag{
  color:rgb(155, 155, 155);
  margin-top: 20px;
  margin-right: 5px;
  font-size: 12px;
}

#date {
  font-size: 12px;
}



.editBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
}
.editBtn:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}
.editBtn:active {
  background-color: rgb(39, 39, 39);
  cursor: pointer;
}


#nomore {
  text-align: center;
  font-size: 20px;
}
