div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

input {
  visibility: hidden;
}

.btn {
  display: flex;
  text-align: center;
  border: none;
  margin: 8px auto 8px auto;
  padding: 3px;
}

.btn:hover {
  border: 1px solid white;
  border-left: none;
  border-right: none;
  border-radius: 10%;
  cursor: pointer;
}
