.post {
  width: 40%;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 25px;
}

@media (max-width: 600px) {
  .post {
    width: 85%;
  }
}

#form,
.formControl,
.buttonDiv {
  display: flex;
  background-color: lightgrey;
  border-radius: 15px;
}

#form {
  width: 100%;
  flex-direction: column;
  align-self: center;
  padding: 20px;
  background-color: transparent;
  border-top: 3px solid lightgray;
  border-bottom: 3px solid lightgray;
}

.formControl {
  flex-direction: row;
}

.buttonDiv {
  flex-direction: column;
  background-color: transparent;
  align-items: center;
}

.smallButtonDiv {
  flex-direction: row;
  justify-content: space-between;
}

input,
textarea {
  width: 400px;
  height: 22px;
  padding: 30px 15px 5px 15px;
  border: none;
  border-bottom: 1px solid darkgray;
  font-size: 16px;
  resize: none;
  background-color: transparent;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid gray;
}

#title {
  width: 85%;
  overflow: hidden;
  max-height: 200px;
  display: none;
}

#titleCharLenght {
  align-self: center;
  background-color: transparent;
  display: none;
}

#content {
  width: 85%;
  overflow: hidden;
  max-height: 200px;
  display: none;
}

#contentCharLenght {
  align-self: center;
  background-color: transparent;
  color: red;
  display: none;
}

#tags {
  width: 85%;
  display: none;
}

#createBtn {
  width: 150px;
  height: 35px;
  font-size: 25px;
  display: none;
}

#createBtn,
#expandBtn,
#collapseBtn,
#cancelBtn {
  border: none;
  border-radius: 15px;
}

#collapseBtn {
  width: 25px;
  height: 25px;
  bottom: 20px;
  right: 5px;
  display: none;
}

#cancelBtn {
  width: 25px;
  height: 25px;
  bottom: 20px;
  right: 35px;
  font-size: 15px;
  display: none;
}

#expandBtn {
  width: 150px;
  height: 35px;
  bottom: 15px;
  font-size: 25px;
}

button {
  background-color: darkgray;
}

button:hover {
  box-shadow: 0px 0px 10px 5px rgb(80, 80, 100);
  cursor: pointer;
}

button:active {
  background-color: rgb(66, 66, 66);
}
