h1{
    color: white;
}
  
#post{
    position: relative;
    width: auto;
    max-width: 35%;
    border: 2px solid white;
    border-radius: 10px;
    border-left: none;
    border-right: none;
    margin: auto;
    margin-top: 50px; 
    margin-bottom: 60px;
    padding: 25px;
}

#post:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px rgb(80, 80, 100);
}

#date{
    font-size: 12px;
    margin-left: 10px;
}

.postBtn{
    position: absolute ;
    right: 20px;
    bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.editBtn{
    position: absolute ;
    right: 20px;
    top: 20px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
}
.editBtn:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}
.editBtn:active{
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

#like:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}
/* skal konstant være ændret hvis en post er liked */
#like:focus{
    background-color: rgb(209, 43, 43);
    color: white;
}


mat-sidenav-container{
    height: calc(205vh - 115vh);
}

mat-sidenav{
    width: 270px;
    background-color: rgb(97, 97, 97);
    text-align: center;
    padding: 15px;
    position: fixed;
    border-left: none;
    height: calc(260vh);
    
}


.profilepic
{
    border-radius: 30px;

}

#username{
    font-size: 15px;
    margin-left: 10px;
}

#title{
    margin-left: 10px;
    
}

#description{
    margin-left: 10px;
}
#tags{
    color:rgb(155, 155, 155);
    margin-top: 20px;
    margin-left: 10px;
    font-size: 12px;
}

#nomore
{
    text-align: center;
    font-size: 20px;
}