<div class="body">
    <button type="button" id="back" routerLink="">back</button>
    <img src="/assets/images/socialmachine.png" width="400px" />
    <p>Create your user!</p>
    <form [formGroup]="userForm" class="form" (ngSubmit)="create()">
      <div class="formControl">
        <label>Username</label>
        <input type="text" id="UserName" formControlName="UserName" />
      </div>
      <div class="formControl">
        <label>Email</label>
        <input type="text" id="Email" formControlName="Email" />
      </div>
      <div class="formControl">
        <label>Password</label>
        <input type="password" id="Password" formControlName="Password" />
      </div>
      <div class="buttonDiv">
        <button [disabled]="!userForm.valid" type="submit" id="createBtn">Create</button>
        <button type="button" (click)="cancel()" id="createBtn">Cancel</button>
      </div>
    </form>
  </div>