#post {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 10px;
  border-left: none;
  border-right: none;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 25px;
}

@media (max-width: 600px) {
  #post {
    width: 85%;
  }
}

#post:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px rgb(80, 80, 100);
}

#user {
  display: flex;
  margin-bottom: 12px;
}

#profilepic {
  display: flex;
  border-radius: 30px;
}

#profilepic:hover {
  box-shadow: 0px 0px 10px 10px rgb(100, 80, 80);
}

#userName {
  align-self: center;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 0;
}

#content {
  display: flex;
  flex-direction: column;
}

#title {
  color: white;
}

#description {
  font-size: 14px;
  color: rgb(20, 20, 20);
}

#postTags {
  display: flex;
  flex-wrap: wrap;
}

#tag {
  color: rgb(155, 155, 155);
  margin-top: 20px;
  margin-right: 5px;
  font-size: 12px;
}

#date {
  font-size: 12px;
}

.editBtn {
  margin-left: auto;
  margin-right: 0;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  font-size: 18px;
}
.editBtn:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}
.editBtn:active {
  background-color: rgb(39, 39, 39);
  cursor: pointer;
}
