<mat-sidenav mode="side" opened>
  <img class="profilepic" src="./assets/images/placeholder.png" width="100" height="100"/>
  <p>{{ this.currentUser.user.userName }}</p>
  ___________
  <!-- Skal være links der ændrer hvilke posts der vises (mellem alle ens posts / alle de post brugeren har liket) -->
  <p>likes</p>
  <p>chat</p>
</mat-sidenav>

<app-create-postpage></app-create-postpage>

<div id="post" *ngFor="let post of posts" >
  <div id="user" (click)="postLink(post.user)"> 
    <img id="profilepic"src="./assets/images/placeholder.png" width="50" height="50">
    <h5 id="userName">{{post.user?.userName}}</h5>
  </div>

  <div id="content" [routerLink]="['/post-details', post.postId]">
    <h1 id="title">{{post.title}}</h1>
    <h3 id="description">{{post.desc}}</h3>
    <div id="postTags" *ngIf="post.tags">
      <p id="tag" *ngFor="let tag of post.tags">
        #{{ tag.name }}, 
      </p>
    </div>
    <p id="date">{{post.date | date:'MMM d yyyy, HH:mm a'}}</p> 
  </div>
  
  <!-- <app-like [likeUserId]="post.likeUserId" [postPostId]="post.postId"/> -->
  <!-- <button class="editBtn" id="edit" *ngIf="this.currentUser.loginResponse.user.userId == this.post.user?.userId" [routerLink]="['/editPost', post.postId]">⛭</button> -->
</div>
