.body {
  display: flex;
  height: 700px;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
}
.form {
  width: 100%;
  /* max-width: 400px; */
  margin-top: 50px;
}

.bigImage {
  width: 400px;
}

.formControl {
  display: flex;
  justify-content: center;
  margin: 5px 5px 10px 0;
  flex-direction: row;
}

label {
  order: 0;
  width: 100px;
  margin-right: 5px;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}

input {
  order: 1;
  width: 200px;
  height: 20px;
  margin-left: 3px;
  background-color: white;
  font-size: 15px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  height: 30px;
}

button:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}

button:active {
  background-color: rgb(66, 66, 66);
}

@media (max-width: 600px) {
  .bigImage {
    width: 200px;
  }

  .formControl {
    flex-direction: column;
    align-items: center;
    margin: 0 0 15px 0;
  }

  label {
    text-align: center;
    margin: 0 0 5px 0;
  }

  input {
    width: 80%;
  }
}
