.topBar {
  display: flex;
  padding: 8px;
  background-color: gray;
  height: 40px;
}

.topBar div {
  background-color: gray;
}

#logo {
  /* display: inline-block; */
  /* height: 40px; */
  width: 70px;
  background-color: transparent;
  align-self: center;
  margin-left: 10px;
}

#logo:hover {
  cursor: pointer;
}

a {
  align-self: center;
  margin-left: 10px;
}

a:link,
a:visited {
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  color: #eee;
  text-decoration: none;
}

.linkLeft {
  display: flex;
}

.linkRight {
  display: flex;
  margin-left: auto;
  margin-right: 5%;
}
