h1{
    color: white;
}
  
#post{
    position: relative;
    width: auto;
    max-width: 35%;
    border: 1px solid white;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px; 
    margin-bottom: 60px;
    padding: 20px;
}

.postBtn{
    position: absolute ;
    right: 20px;
    bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

/* skal konstant være ændret hvis en post er liked */
#like:focus{
    background-color: rgb(209, 43, 43);
    color: white;
}